*
{
    margin: 0px;
    padding: 0px;
    color: #d3d0cf;
    
    
}
/* .font_color{
    color: #d3d0cf;
} */
.icon_size{
    font-size: 15px;
}
.font_size{
    font-size: 20px;
    
}
body{
    height: 100vh;
}
.main_container{
    display: flex;
    height: 100%;
}
    
.menu_bar{
    width: 15%;
    height: 100%;
    background-color:#272829;
    
    
}
.Dashboard{
    display: flex;
    gap: 5px;
    padding:20px;
}
.home{
    display: flex;
    margin: 20px 0px 0px 22px;
    gap: 15px;
}
.menu_bar_content{
    display: flex;
    margin: 15px 0px 0px 22px;
    gap: 15px;
}
.menu_bar_layer2{
    margin-top: 50px;
}
.menu_bar_content2{
    display: flex;
    margin: 20px 0px 0px 22px;
    gap: 15px;
}
.vertical_line {
    
    background-color:#ADBC9F;
    width: 3px;
  height: 100%;
}
.main_content
{
    width : 85%;
    height: 100%;
    
}
.header_bar{
    padding:30px;
    height:12%;
    background-color: #272829;
    
}
.header_layer1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 200px; */
 }
.search{
    width: 700px; 
    padding: 8px;
    border-radius: 20px;
    background-color:#ADBC9F;
    border: none;
}
.search_bar{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile_container{
    display: flex;
    gap: 15px;
    align-items: center;
    
}
.bell{
    font-size: 20px;
    padding-right: 22px;
    
}
.dp{
    display: flex;
    
    justify-content: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    
    
}
.dp2{
    
    width: 4em;
    height: 4em;
    border-radius: 50%;
    
    
}

.header_layer2{
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}
.header_layer2_content{
    display: flex;
    gap: 15px;
    align-items: center;
}


.HI{
    
    font-size: 15px;
    
}
.Name{
    
    font-size: 20px;
    
}
.button_container{
    margin-right:15px;
    display: flex;
    gap: 15px;
}
.button{
    background-color:black;
    padding: 8px 20px ;
    border-radius: 15px;
    border:solid 1px #ADBC9F;
}

.horizontal_line {
    background-color:#ADBC9F;
    width: 100%;
  height:3px;
    }



.body_container{
    width: 100%;
    height: 81.2%;
    background-color: black;
    display: flex;
    
}
.body_left{
    width:75%;
    margin: 30px 0px 0px 20px;
    
}
.body_right{
    width:25%;
    height: 100%;
    padding: 20px 20px;
    padding-right: 50px;
}
.project_container{
    display: flex;
    flex-wrap: wrap;
}
.project_container1{
    background-color:#272829;
    border-radius: 15px;
    width: 500px;
    height: 200px;
    display: flex;
    margin: 10px;
    
}


.border{
    
    width: 30px;
    height: 100%;
    
    background-color: #8B008B;
    border-radius: 15px 0px 0px 15px;

}
.wordings{
    padding: 10px;
    font-size: 17px;
}
.project_icons{
    
    display: flex;
    justify-content: end;
    
    padding: 30px 35px;
    
    
    gap: 20px;
}
.Announcement_box{
    width: 90%;
    
    margin: 10px 0px 10px 0px;
    border-radius: 15px;
    
    padding: 32px 20px;
    background-color:#272829;
}
.content1{
    padding: 10px;
    font-size: 17px;
}
.horizontal_line2 {
    background-color:#ADBC9F;
    width: 100%;
  height:1px;
  justify-items: center;
}
.people_box{
    display: flex;
    margin: 10px 0px 10px 0px;
    width: 100%;
    border-radius: 15px;
    background-color:#272829 ;
}

.avatar{
    
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 30px;
}
.ID{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    
}